<header class="site-header">
  <div class="site-container">
    <div class="header-inner">
      <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <nav class="site-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/categories/culture/">Culture</a></li>
          <li><a href="/categories/food/">Food</a></li>
          <li><a href="/categories/language/">Language</a></li>
          <li><a href="/categories/transportation/">Transportation</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>