<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="https://img-korea.sk-sokuri.com/branding/favicon.png">
<link rel="apple-touch-icon" href="https://img-korea.sk-sokuri.com/branding/logo-mark.webp">


{{ partial "seo.html" . }}

{{ $css := resources.Get "css/main.css" }}
{{ if $css }}
  {{ $css = $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
{{ end }}

{{ $postCss := resources.Get "css/post.css" }}
{{ if $postCss }}
  {{ $postCss = $postCss | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $postCss.RelPermalink }}" integrity="{{ $postCss.Data.Integrity }}" crossorigin="anonymous">
{{ end }}
