<header class="site-header">
  <div class="site-container">
    <div class="header-inner">
      <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <nav class="site-nav">
        <ul>
          {{ range .Site.Menus.main }}
            {{ if or (eq .Name "Home") (eq .Name "Culture") (eq .Name "Food") (eq .Name "Language") (eq .Name "Transportation") (eq .Name "About") }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>